.input-text {
    display: block;
    line-height: 1;
    padding: 1.2rem 2rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    width: 50rem;
    font-size: 1.8rem;

    @include mq_sp {
        width: 100%;
    }
}